<h2 class="text-center">Challenge 7</h2>
<header
  [class.hidden]="hidden$ | async"
  class="header navbar navbar-expand-lg navbar-dark bg-dark p-2 mb-2"
>
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </div>
</header>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti assumenda
  expedita inventore accusamus, dolorem dolores earum esse vero laboriosam error
  et veritatis autem debitis facilis id perferendis recusandae minus a.
  Accusamus vel eligendi rem, at facilis deleniti quidem quaerat a ipsa voluptas
  voluptates aliquid quod reprehenderit dolore autem architecto, reiciendis,
  omnis dicta illum nobis. Voluptatem rerum dolorem veritatis non natus!
  Recusandae possimus tempora ullam praesentium optio cumque consectetur
  accusantium quo iste adipisci unde quisquam quae beatae neque itaque, ab ex!
  Odio iusto unde maiores debitis blanditiis suscipit sed, esse exercitationem
  nisi sit doloribus, autem tempora possimus quod provident commodi corporis?
  Fugit, dolorum, voluptates quasi soluta necessitatibus voluptatum eos, illo
  mollitia placeat earum aliquid error culpa! Ut, facere adipisci a nemo aut
  architecto dolores porro? Dolor laudantium quod debitis eaque sequi placeat
  corporis hic eveniet vitae nisi accusantium reprehenderit amet a dolores,
  suscipit pariatur aut obcaecati perspiciatis, odio dolorum. Delectus explicabo
  non maiores obcaecati nostrum ducimus hic, recusandae vel, sint illum nulla,
  ut harum rerum tenetur debitis expedita quisquam unde sed iusto asperiores
  magni illo tempora porro dolore. Quibusdam, veniam! Esse, minima, provident,
  fugit quis soluta laudantium quae unde iure amet quisquam atque minus id vitae
  sapiente vel iusto quasi numquam adipisci aliquid architecto! Vitae optio
  deserunt minima placeat saepe ipsa, aliquam suscipit! Voluptatum aliquid
  laudantium optio omnis officia vitae explicabo sequi similique, atque
  accusamus modi illum ab veniam at dignissimos quibusdam. Quae assumenda iste
  nostrum rerum quod tenetur eius officia, ab praesentium quia nam eum totam
  saepe pariatur eligendi ullam voluptas, aspernatur, officiis architecto
  molestias temporibus suscipit voluptatem! Ipsum illo, perferendis voluptatum
  error quae aspernatur libero repellat beatae vero exercitationem dolore illum
  tenetur, qui quod obcaecati consectetur assumenda enim repellendus eveniet
  tempore. Impedit rerum laboriosam nam aut fugit, id quaerat nulla ex totam in!
  Ipsa quod quas repellendus maxime natus beatae pariatur eum laboriosam nihil
  ut id ipsam nisi, quisquam explicabo sit praesentium? Quia, laborum
  perferendis dicta sapiente cum enim, libero dolores veritatis facilis non iure
  eveniet corrupti distinctio ex explicabo nam adipisci ipsum architecto, quo ab
  dolorum est eos! Nisi natus quis iure veritatis consequatur esse temporibus
  eligendi commodi architecto, minima impedit reprehenderit pariatur culpa sunt
  harum voluptate, accusamus, iste explicabo corporis id! Consequuntur culpa ea
  atque vitae rerum totam assumenda aut enim ab natus. Possimus voluptatibus
  dicta perspiciatis optio. Eveniet quas praesentium consequatur ducimus
  explicabo culpa, aut, obcaecati, tempore impedit inventore labore
  exercitationem perferendis aperiam omnis? Explicabo repellat nulla voluptatum.
  Velit, vitae in consequuntur, eos fugit tempora quibusdam at libero veniam rem
  animi! Reiciendis voluptatum suscipit nesciunt numquam, cumque nemo porro
  vitae cum ex illum error molestiae ipsam maxime at distinctio sunt, aliquam
  unde assumenda. Fuga hic illum molestiae maxime dolor quo deserunt nemo neque
  dolores. Corrupti optio inventore iusto laboriosam! Cum, quasi distinctio a
  totam nostrum necessitatibus culpa consequuntur! Rem doloribus natus ullam ut!
  Reprehenderit deleniti accusantium blanditiis natus repellat architecto
  quisquam, ullam pariatur quos quia ipsam voluptates tempora, sunt eligendi
  culpa unde exercitationem quam mollitia id voluptas fugit illum non nihil! At
  rerum illum a impedit, natus dolorem nihil perferendis quam repudiandae ea,
  sunt quibusdam ab voluptate mollitia ipsum amet et cupiditate excepturi
  corrupti qui atque! Odio dolor voluptate reiciendis voluptas magni aut itaque
  quibusdam, omnis vitae eligendi inventore iste dignissimos veritatis vero
  culpa accusamus, quasi facilis sunt velit! Magnam expedita eius eaque quae
  aliquid a mollitia dolor sed vel non provident aut, accusamus autem nam
  dignissimos blanditiis enim voluptatum maxime perspiciatis culpa odit fugit,
  placeat beatae est! Error saepe, tempore, maxime provident, possimus
  doloremque voluptatum recusandae eaque cumque pariatur sed porro ipsam?
  Delectus nesciunt quod natus similique voluptatibus maxime unde nihil, sunt
  iure officiis accusamus, sint voluptas. Rem alias quibusdam facere veniam illo
  cum eveniet sed tempore quaerat! Itaque, possimus? Repellat ducimus corrupti
  consequuntur. Laboriosam sit dignissimos, repellat doloribus iusto excepturi
  consequuntur vel hic unde laborum, iste, porro eaque! Quis doloremque beatae
  optio inventore dicta, delectus perferendis dignissimos cum fuga, neque harum
  exercitationem animi aut repudiandae, molestiae labore soluta saepe iste
  magnam ullam ad impedit. Distinctio minima iste deserunt quaerat natus aperiam
  tempore in explicabo laboriosam repellat id, aliquid eum vitae fuga doloremque
  corrupti corporis. Hic sint, incidunt voluptas porro perspiciatis delectus
  amet, labore laboriosam, vitae nemo facere ab aut. Laborum sapiente possimus
  atque nostrum cum officiis a, veritatis tenetur ut ratione, beatae quos quia
  repellendus modi aspernatur consequatur asperiores cupiditate nemo cumque
  magnam quibusdam! Est consectetur magni dolorem vel blanditiis ullam placeat,
  facilis quam reiciendis modi labore enim commodi molestias recusandae suscipit
  nesciunt ducimus dolores debitis voluptate sunt architecto quos tempore
  voluptatem totam? Illo porro pariatur nostrum eos soluta sint odit libero
  iusto ex molestias deleniti, rem, totam beatae, nam laboriosam accusamus non
  similique repellat veniam debitis eius voluptates aperiam delectus ad.
  Voluptas, corporis, in doloremque, impedit dolorem ipsa iste vitae voluptatem
  quisquam ut aliquam? Cupiditate labore voluptate hic animi at architecto amet
  nemo recusandae aliquid quis illo, enim fugit porro corporis tempora rem.
  Error expedita dolorem aliquam deleniti minus excepturi tempora iusto sed
  tempore, optio recusandae et officia quisquam soluta sequi ratione saepe est
  explicabo esse nobis voluptas facere aspernatur. Facilis perferendis inventore
  necessitatibus laudantium tempora, aliquid dolore ducimus aut, temporibus
  ipsam error amet in illum quasi magnam, adipisci expedita nobis explicabo
  suscipit laboriosam provident! Consequuntur voluptatibus tenetur ipsum quidem
  magni molestias id, recusandae ad suscipit itaque accusamus numquam qui
  adipisci ipsa ea modi perferendis dolore perspiciatis at distinctio
  consectetur eius aperiam velit! Quam, recusandae aspernatur? Quis, distinctio
  dolorum eius aut reiciendis hic.
</p>
